.body {
  margin: 0px;
}

.App {
  display: flex;
  justify-content: center;
  background-color: black;

  height: 100vh;
  width: 100vw;
}

.Terminal {
  display: flex;
  flex-direction: column;

  margin-top: 24px;

  background-color: black;
  color: greenyellow;

  font-family: 'DM Sans', sans-serif;
  font-family: 'Nunito', sans-serif;
  font-family: 'VT323', monospace;
  font-size: x-large;
  letter-spacing: 0.1em;

  text-align: left;

  /* Get a closer Fo3 terminal look... */
  /* transform: scale(1.2, 1); */
}

.TerminalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 1em;
}

.TerminalMenu--title {
  width: max-content;
}

.TerminalMenu--items {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.TerminalMenu--items > * {
  width: max-content;
}

.TerminalMenu--items > *:hover {
  cursor: pointer;
}

.TerminalMenu--items > *:focus {
  background-color: greenyellow;
  color: black;
}

.TerminalMenu--title hr {
  border: 2px solid greenyellow;
  margin-block-start: 0.75em;
  margin-block-end: 0.75em;
}

.TerminalLocked {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.reset {
  cursor: pointer;
}

button {
  all: unset;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 1s step-start 0.5s infinite;
}

.reset.blink:hover {
  animation: none;
  background-color: greenyellow;
  color: black;
}

.data--container {
  display: flex;
  flex-wrap: nowrap;
}

.TerminalInput {
  display: flex;
  flex-direction: column-reverse;
}

input::before {
  content: " >";
}

input {
  all: unset;
}

.TerminalInput input {
  width: 7.5em;
  /* 6 = 12 characters; 6.5 = 13 chars (for custom cursor)*/
  /* width: 6.5em;*/
}

.DataStream {
  display: grid;
}

.DataStream > * {
  grid-column-start: 1;
  grid-row-start: 1;
  cursor: default;
}

.data-stream {
  max-width: 16em;
  max-height: 17em;
  column-count: 2;
  word-break: break-all;
  line-break: anywhere;
  column-gap: 4em;
  margin-left: 3.5em;
  line-height: 1em;
}

.address-stream {
  max-width: 13em;
  max-height: 17em;
  column-count: 2;
  column-width: 3em;
  column-gap: 7em;
  word-break: break-word;
  line-height: 1em;
}

.Char:hover {
  background-color: greenyellow;
  color: black;
  cursor: pointer;
}

.Bracket:has(> .Char:first-child:hover) {
  background-color: greenyellow;
  color: black;
}