body {
  display: flex;
  justify-content: center;

  height: 100vh;
  width: 100vw;

  background-color: black;
  background-image: radial-gradient(
    rgba(83, 117, 32, 0.5), black 80%
  );
  text-shadow: 0 0 4px greenyellow;
}

body::after {
  content: "";
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  /* 99.9 trying to avoid flicker at bottom of screen */
  height: 99.9vh;

  background: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0.15) 2px,
    transparent 2px,
    transparent 4px
  );
  background-size: 200% 200%;
  animation: scrolling 30s linear infinite;
}

/* I'll be honest, I don't know how this works, but it does! */
@keyframes scrolling {
	100% {
		background-position: 0% 50%;
	}
}

.Terminal {
  display: flex;
  flex-direction: column;

  margin-top: 24px;

  color: greenyellow;
  font-family: 'VT323', monospace;
  font-size: x-large;
  letter-spacing: 0.1em;

  text-align: left;

  /* Get a closer Fo3 terminal look... */
  /* transform: scale(1.2, 1); */
}

.TerminalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 1em;
}

.TerminalMenu--title {
  width: max-content;
}

.TerminalMenu--items {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.TerminalMenu--items > * {
  width: max-content;
}

.TerminalMenu--items > *:hover {
  cursor: pointer;
}

.TerminalMenu--items > *:focus {
  background-color: greenyellow;
  color: black;
}

.TerminalMenu--title hr {
  border: 2px solid greenyellow;
  margin-block-start: 0.75em;
  margin-block-end: 0.75em;
}

.TerminalLocked {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.reset {
  cursor: pointer;
}

button {
  all: unset;
}

@keyframes blink {
  50% {
    opacity: 0.0;
  }
}

.blink {
  animation: blink 1s step-start 0.5s infinite;
}

.reset.blink:hover {
  animation: none;
  background-color: greenyellow;
  color: black;
}

.data--container {
  display: flex;
  flex-wrap: nowrap;
}

.TerminalInput {
  display: flex;
  flex-direction: column-reverse;
}

input {
  all: unset;
}

.TerminalInput input {
  width: 7.5em;
  caret-color: transparent;
  /* 6 = 12 characters; 6.5 = 13 chars (for custom cursor)*/
  /* width: 6.5em;*/
}

.input--line {
  position: relative;
}

.TerminalInput .input--caret {
  animation: blink-animation 0.75s steps(2, start) infinite;

  position: absolute;
  bottom: 0;
}

@keyframes blink-animation {
  start {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}

.DataStream {
  display: grid;
}

.DataStream > * {
  grid-column-start: 1;
  grid-row-start: 1;
  cursor: default;
}

.data-stream {
  max-width: 16em;
  max-height: 17em;
  column-count: 2;
  word-break: break-all;
  line-break: anywhere;
  column-gap: 4em;
  margin-left: 3.5em;
  line-height: 1em;
}

.address-stream {
  max-width: 13em;
  max-height: 17em;
  column-count: 2;
  column-width: 3em;
  column-gap: 7em;
  word-break: break-word;
  line-height: 1em;
}

.Char {
  cursor: pointer;
}

.data-stream:not(.disabled) .Char:hover {
  background-color: greenyellow;
  color: black;
}

.data-stream:not(.disabled) .Bracket:has(> .Char:first-child:hover) {
  background-color: greenyellow;
  color: black;
}